# Exercise 00
Write a piece of code that allocates a list of 20 integers and initializes each element by its index multiplied by 5. Print the result.

In [18]:
listOfNo = list(range(1, 20+1))

In [2]:
newlistOfNo = [i*5 for i in listOfNo]
print(newlistOfNo)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [5]:
mylist =[]
for i in range(20):
    mylist.append(i*5)

In [6]:
mylist

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

# Exercise 01
Define a function that takes an integer as input, prints  all integers that it is divisable by, and returns the largest one.

In [16]:
def dividers(n):
    div = 1
    for i in range(1,int(n)+1):
        if n%i==0:
            div = i
            print(i)
    return div

In [17]:
dividers(10)

1
2
5
10

10

In [11]:
int(5.5)

5

# Exercise 02
- create a dictionary with 6 keys and values of your choice
- write a function that takes a dictionary and a value as input and returns whether the value occurs as a key in the dictionary
- write a function that takes a dictionary as input, and returns the dictionary but the keys are swapped with their values (resolve the issue if a value occurs twice!)

In [5]:
dist = {
    "University":"UCL",
    "collge":"Bartlett",
    "course":"MArch UD",
    "start date":"25 Sep 2023",
    "end date":"24 Sep 2024",
    "postalcode":"WC1E 6BT"}

In [10]:
print(dist)

{'University': 'UCL', 'collge': 'Bartlett', 'course': 'MArch UD', 'start date': '25 Sep 2023', 'end date': '24 Sep 2024', 'postalcode': 'WC1E 6BT'}

In [6]:
def inDictionary(d,k):
    for t in d.keys():
        if k == t:
            return True
    return False

In [7]:
inDictionary(dist, "UCL")

False

In [22]:
def swap_keys_values(dictionary):
    swapped_dict = {value: key for key, value in dictionary.items()}
    return swapped_dict

In [14]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(swap_keys_values(my_dict))

{1: 'a', 2: 'b', 3: 'c'}

In [15]:
print(swap_keys_values(dist))

{'UCL': 'University', 'Bartlett': 'collge', 'MArch UD': 'course', '25 Sep 2023': 'start date', '24 Sep 2024': 'end date', 'WC1E 6BT': 'postalcode'}

# Exercise 03
Define a function that creates a dictionary of the first n fibonacci numbers as values paired with their indices as keys.

In [6]:
def fibancii(n):
    fib = {}
    n1=0
    n2=0
    for i in range(n):
        fib[i]= n1
        j =n1+n2
        n1 = n2
        n2 = j
    return fib

In [9]:
fibancii(15)

{0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 14: 0}